header(style="background-color: #4F6D7A;")
  div(class="container flex mx-auto justify-between items-center")
    h1(class="text-orange-800 text-2x1 text-center font-extrabold") Real 
      span(class="font-normal text-white") Estate
    nav(class="flex gap-3 text-white my-5 text-sm md:flex md:items-center font-bold")
      a(href="#" class="bg-blue-500 py-2 px-10 roundend-full hover:bg-blue-700 shadow-lg shadow-gray-400 hover:scale-105") Properties 
      a(href="#" class="bg-blue-500 py-2 px-10 roundend-full hover:bg-blue-700 shadow-lg shadow-gray-400 hover:scale-105") Profile
      a(href="#" class="bg-blue-500 py-2 px-10 roundend-full hover:bg-blue-700 shadow-lg shadow-gray-400 hover:scale-105") Logout
