extends ../layout/index

block content  
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center(style="color: #DD6E42;") Real 
           span.font-normal State 
        h2.text-center.text-2xl.font-extrabold= pagina

        div.mt-8.mx-auto.max-w-md
         .bg-white.py-8.px-4.shadow(style="background-color: #E8DAB2;")
            form.(action=`/login/update-password/${tokenPassword}` method="POST")space-y-5
               div
                  label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") New Password
                  input#newPassword.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Your Email" type="password" name="email")
               div.flex.items-center.justify-between
                 a.text-gray-500.text-xs(href="./register") Don't have an account? Create One
                 a.text-gray-500.text-xs(href="/login") Do you hava an account? Login
              
               input(class="w-full bg-indigo-600 hover:indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Send Instructions") 