extends ../layout/index 
block content 
 div.py-10 
    h1.text-center.text-4xl.font-extrabold.my-10.text-chocolateColor Usuario Creado 
        span.font-normal.text-taupeColor Con éxito
    h2.text-center.text-3xl.font-extrabold.text-orangeColor= page

    .mt-8.mx-auto.max-w-md 
        .bg-chocolateColor.py-8.px-4.shadow
        p.text-ffffff Por favor revisa la bandeja de entrada del correo 